@page "/"

@inherits MainLayout

<PageTitle>Sudoku</PageTitle>

<body>
    <h1 class="main-title">Sudoku</h1>
    <div class="container">
        <SudokuBoard></SudokuBoard>
    </div> 
</body>


<style>
    .main-title {
        margin-bottom: 1em;
    }

    body {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        background-color: white;
        color: black;
    }

    .container {
        display: flex;
    }
</style>