@using System.Linq;

@code {

}

<div class="sudoku-container">
    <table id="sudoku-gui">
        @for (var c = 0; c < 9; c++)
        {
            <tr>
                @for (var r = 0; r < 9; r++)
                {
                    <td><input type="text" maxlength="1" onkeypress="">
                    </td>
                }
            </tr>
        }
    </table>
</div>
