    CSS
    body {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
    }

    .sudoku-board {
        width: 600px;
        height: 600px;
        margin: 0 auto; /* Add space around the board */
        display: flex;
        flex-wrap: wrap;
        background-color: whitesmoke;
    }

    .sudoku-cell{
        width: 11.025%; 
        height: 11.025%;
        border: 1px solid darkgray;

        /* Text */
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vertical-line {
        border-right: 2px solid black;
    }

    .horizontal-line {
        border-bottom: 2px solid black;
    }