@using System.Linq;

@code {

}

<div class="sudoku-board">
    @for (int r = 0; r < 9; r++)
    {
        for (int c = 0; c < 9; c++)
        {
            <div class="sudoku-cell"></div>
            @if (c % 3 == 2) {
                <div class="vertical-line"></div>
            }
        }
        @if (r % 3 == 2) {
            <div class="horizontal-line"></div>
        }
    }
</div>